nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 999;
    padding: 12px 6px 6px 8px;
    background-color: #121212;
}

.navbarLogo{
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    color: rgb(243, 243, 243);
}
.navbarContainer{
    display: flex;
    justify-content: space-around;
    width: 144px;
}
.Avatar{
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.Avatar > img{
    width: 100%;
    object-fit: contain;
}


.btnCreate{
   width: 40px;
   height: 40px;
   border: none; 
   background: none;
   -webkit-text-stroke: 1px rgb(36, 177, 90);
   color: rgba(36, 177, 90, 0);
   font-size: 1.6rem;
   font-weight: 900;
   cursor: pointer;
}
.btnCreate:hover{
   outline: 1px solid rgb(36, 177, 90);
}
.btnMenu{
   width: 40px;
   height: 40px;
   border: none; 
   background: none;
   color: rgb(58, 106, 194);
   font-size: .8rem;
   font-weight: 900;
   cursor: pointer;
}
.btnMenu:hover{
    outline: 1px solid rgb(58, 106, 194);
 }