body {
  text-align: center;
  background-color: hsl(220, 13%, 18%);
}

.app-content{
  display: grid;
  place-items: center;
  margin-top: 20px;
  width: 100%;  
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(280px));    
}

